html, body {
    margin: 0;
    height: 100%;
    background: black;
}

#main-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    z-index:50;
}